html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: darkcyan;
    color: #fff;
}

label {
    display: block;
}

#app {
    width: 100%;
    height: 100%;
}

h1 {
    color: #fff;
}

.front-page {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-page button {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    padding: .5rem 1rem;
    text-transform: uppercase;
    background: #dfdfdf;
}